@import '../app/App.scss';

#shop-cart {
  // background-color: aqua;
  font-size: 15px;
}

.shop-cart-table {
  // border-bottom: 1px solid #CCCCCC;
  // width: 0px;

}

.shop-cart-head {
  border-bottom: 1px solid #CCCCCC;
}

.shop-cart-body {
  border-bottom: 1px solid #CCCCCC;
}

.shop-cart-row {
  border-bottom: 1px solid #CCCCCC;
  height: 75px;
}

.remove-from-cart {
  // border: $border1;
  display: inline-block;
  color: red;
  padding: 10px;
  margin-right: 2em;
  margin-left: 1em;
}

.item-image {

}

.btn-checkout {
  // text-align: center;
}