@import '../app/App.scss';

/* Shopping cart */
.container {
  flex: 12 0 70%;
  margin: 4em;
  margin-top: 2em;
  border-radius: 4px;

  .title {
    display: block;
    width: 70%;
    color: #391A45;
    margin-bottom: 1.15rem;
    padding: 0.5em;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 1.12em;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #f2f2f2;

    @media only screen and (min-width: 480px) and (max-width: 767px){
      width: 100%;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px){
      width: 100%;
    }
  }
}

.cart-content {
  display: block;
  margin: 0 auto;
  width: 70%;
  text-align: left;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #CCCCCC;

  @media only screen and (min-width: 480px) and (max-width: 767px){
    // width: 400px;
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px){
    width: 100%;
  }
  
}

.header {
  @include flex-row;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-bottom: 1px solid #CCCCCC;  
  color: #6c6213;
  font-size: 0.8rem;
  text-align: left;
  
  .item {
    width: 47%;
    text-align: left;
  }
  
  .price {
    width: 11%;
  }
  
  .quantity {
    width: 11%;
  }
  
  .subtotal {
    width: 11%;
  }
}


.shopping-items {
  @include flex-row;
  justify-content: space-between;
  padding: 0.5em 1em;
  height: 120px;
  border-bottom: 1px solid #CCCCCC;  
  border-top: none;
  margin-top: 0;
  font-size: 0.9rem;
  font-size: 14px;
  
  .item-image {
    width: 11%;
  }
  
  .item-description {
    width: 30%;
    max-width: 400px;
    text-align: left;

    @media only screen and (min-width: 480px) and (max-width: 767px){
      // width: 400px;
      width: 100px;
      margin-left: 7px;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px){
      width: 100px;
      margin-left: 7px;
    }
  }
  
  .item-price {
    width: 11%;
  }
  
  .item-quantity {
    width: 11%;
  }
  
  .item-subtotal {
    width: 11%;
    color: #59b300;
  }
}

.total-wrap {
  display: block;
  margin: 0 auto;
  width: 70%;
  font-weight: bold;
  border: 1px solid #CCCCCC;
  background-color: #f2f2f2;
  padding: 0.5em;
  text-align: left;

  @media only screen and (min-width: 480px) and (max-width: 767px){
    width: 100%;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px){
    width: 100%;
  }
  
  .total-text {
    display: inline-block;
    font-size: 0.9rem;
    font-size: 14px;
  }
  
  .total-value {
    display: block;
    float: right;
    width: 11%;
  }
}

.order-now {
  margin: 0 auto;
  width: 70%;
  // border: 1px solid red;
  text-align: center;
  margin-top: 0.12em;
  background-color: #DBC9C5;
  // color: white;
  color: #252525;
  font-weight: bold;
  font-size: 14px;

  @media only screen and (min-width: 480px) and (max-width: 767px){
    width: 100%;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px){
    width: 100%;
  }
}


.checkout-wrap {
  margin: 0 auto;
  border-collapse: collapse;
  color: #000;
  // display: table;
  float: right;
  min-width: 380px;
  text-align: right;
  border: 1px solid red;
}



/* Treatments Shop Cart */
#shop-cart {
  // background-color: aqua;
  font-size: 15px;
}

.shop-cart-table {
  // border-bottom: 1px solid #CCCCCC;
  // width: 0px;
}

.shop-cart-head {
  border-bottom: 1px solid #CCCCCC;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
}

.shop-cart-item {
  color: #AAAAAA;
}

.shop-cart-view {
  color: #333;
}

.shop-cart-body {
  border-bottom: 1px solid #CCCCCC;
}

.shop-cart-row {
  border-bottom: 1px solid #CCCCCC;
  height: 75px;
}

.remove-from-cart {
  display: inline-block;
  color: red;
  padding: 10px;
  margin-right: 2em;
  margin-left: 1em;
}

#shop-cart .shop-cart-subtotal-wrap {
  font-size: 16px;
  padding: 0.5em;
}

.btn.btn-buynow {
  display: block;
  // background-color: #DBC9C5;
  background-color: #74ABB4;
}

.shop-cart-subtotal {

}

.item-image {

}

.btn-checkout {
  // text-align: center;
}