@import  "../app/App.scss";


.nav-wrap {
  text-align: center;
  box-sizing: border-box;
  display: block;
  padding:0;
  margin:0;
  min-width: 700px;
  // width: 100%;
  // max-width: 1024px;
}

#menu.flex-row {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex-row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  background-color: #BCD97E;
  color: #FFFFFF;
  height: 105px;
}

#menu div {
  margin: auto;
  @include flex-row;
  width:100%;
}

#menu .nav-icon {
  // margin: auto;
  margin-left: 40px;
  width:100%;
}

#menu .nav-icon h2 {
  color: #EC9C31;
  font-size: 22px;
  line-height: 22px;
}

#menu .nav-icon h2 span:first-child {
  color: #EEF279;
  color: #8FBF26;
}

#menu .nav-icon h2 span:nth-child(2) {
  color: green;
}

#menu .nav-icon h2 span:nth-child(3) {
  color: #F28E13;
}

#memu .nav-icon p {
  // color: red;
  align-self: center;
  justify-self: self-end;
}

#menu .nav-icon-img {
  width: 100%;
  height: auto
}

#menu .nav-col {
  margin:0;
  background-color: inherit;
  // background-color: red;
}

#menu .nav-col .menu-bar {
  background-color: inherit;
  padding: 5px 10px 5px 10px;
  margin-right: 90px;
  border-bottom: none;
}

#menu .nav-item {
  padding: 5px 10px 5px 10px;
  background-color: inherit;
  margin: 0;
  width: auto;
  // background-color: $bg-col1;
}

#menu .nav-item:hover {
  background-color: $nav-color-bg;
  border-bottom: 3px solid $nav-color-bor;
  color: #FFF;
  // border-bottom: none;
}

#menu .menu-link {
  margin: 0;
  color: #343630;
}

#menu .menu-link:hover {
  color: #FFF;
}

#submenu {
  background-color: inherit;
  padding: 5px 10px 5px 10px;
  margin: 0;
  margin-bottom: 1px;
  color: #343630;
}
