@import  "../app/App.scss";

#diseases {
  margin: 0 auto;
  width: 90%;
  height: auto;
  background: #E2EBCE;
  padding: 1em;
  line-height: 26px;
}

#disease {
  margin: 0;
  display: block;
  position: relative;
  z-index: 100;
  // margin-top: 2em;
  // height: 1200px;
}

.disease-row {
  padding: 0.5em;
}

#disease .disease-title {
  color: #391A45;
  padding: .2em;
}

.disease-title.main {
  padding: .5em;
  background: linear-gradient(to right, #bcd97e 0%, #68a3bc 100%);}

.disease-text {
  padding: .2em;
}

#disease-cure {
  background-color: #d6e8b0;
  background-image: url('../../images/textures/xv-pattern.png');
  padding: 0.5em;
  text-align: center;
  // background-color: #BBE16E;
}

#disease-cure .disease-title.bottom-a {
  color: #80548F;
}

#disease-cure .disease-title.bottom-b {
  color: #D0ADDB;
}

#disease-cure p {
  padding: 2em;
  padding-bottom: .2em;
  text-align: justify;
  color: #35392d;
}

#contact-form.sidebar {
  margin-top: 0;
  border-left: $border-diseases;
}

.form-title {
  text-align: left;
  padding: 5px;
  padding-bottom: 5px;
  border-bottom: $border-diseases;
}

.form-wrap {
  border: $border-diseases;
}
