@import  "../app/App.scss";

#diseases {
  margin: 0 auto;
  width: 90%;
  height: auto;
  background: #E2EBCE;
  padding: 1em;
  line-height: 26px;
}

#disease {
  margin: 0;
  display: block;
  position: relative;
  z-index: 100;
  // margin-top: 2em;
  // height: 1200px;
}

.disease-row {
  padding: 0.5em;
}

#disease .disease-title {
  color: #391A45;
  padding: .2em;
}

.disease-title.main {
  padding: .5em;
  background: linear-gradient(to right, #bcd97e 0%, #68a3bc 100%);}

.disease-text {
  padding: .2em;
}

#cure-wrap {
  // margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em;
  text-align: left;
  width: auto;
  color: #391A45;
}

#cure-wrap .cure-image {
  margin-top: 25px;
  @include flex-column;
  padding: 5em;
  vertical-align: center;
  width: 160px;
  height: 200px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // border: $border1;
}

.cure-info {
  // border: $border1;
  padding: .5em 1em;
  margin-top: 25px;
}

.cure-wrap .cure-image:before {
  content:"";
  height: auto;
  vertical-align: center;
  width: 1px;
}

#cure-wrap .cure-image img{
  width: 180px;
  min-height: 150px;
  height: 180px;
  // background-color: #CEDDAC;
  // border: $border1; //change border
}

p.cure-name {
  // border: $border1;
  width: 300px;
  height: auto;
  vertical-align: baseline;
  font-size: 0.75rem;
  color: #000000;

}

.cure-price {
  vertical-align: baseline;
  width: 100px;
  align-self: center;
  margin-right: 61px;
  text-align: left;
  margin-top: 0px;
  font-size: 1rem;
  font-weight: 600;
}

.cure-price .currency {

}

.btn-wrap {
  @include flex-row;
  justify-content: space-around;
  padding-left: 1.2em;
  color: #ffffff;
  // font-weight: bold;
}

.cure-slogans {
  margin-left: 30px;
  margin-top: 20px;
  width: 406px;
  height: auto;
}


#cure-wrap .cure-slogans .disease-title.cure-a {
  margin-top: 3em;
  color: #6f2e85;
  // color: #8b9f60;
  // color: #3C4529;
}

#cure-wrap .cure-slogans .disease-title.cure-b {
  color: #a1c454;
  // margin-top: 3em;
}

#cure-wrap .disease-title.cure-a {
  color: #80548F;
}

#cure-wrap .disease-title.cure-b {
  color: #D0ADDB;
}

.cure-text {
  padding: .5em;
  padding-bottom: .2em;
  text-align: left;
  color: #35392d;
}

#contact-form.sidebar {
  margin-top: 0;
  border-left: $border-diseases;
}

.form-title {
  text-align: left;
  padding: 5px;
  padding-bottom: 5px;
  border-bottom: $border-diseases;
}

.form-wrap {
  border: $border-diseases;
}
