@import '~antd/dist/antd.css';
@import url('../../fonts/fonts.css');


$content-radius: 2px;
$button-color-primary: #57633A;
$button-color-secondary: #777871;

$border-diseases: 1px solid #cccccc; 
$border-a: 1px solid red;
$border-b: 1px solid blue;
$border-c: 1px solid yellow;
$border-d: 1px solid brown;
$border-e: 1px solid gray;
$border-f: 1px solid violet;

$border1: 3px solid green;

/* 
* Themes
*/
$color-def: #FFF;
$col-lay: #FFFFFF;

$nav-color-bg: #32382B;
$nav-color-bor: #98CB8F;
$bg-col1: #A4B88D;
$bg-about: #F1F9F1;
$bg-white: #FFF;


@mixin content-block {
  position: relative;
  padding: 5px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#App {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 100%;
}

p, ul, li, h1, h2, h3, h4 {
    margin: 0;
}

.btn {
  display: inline-block;
  background-color: #928B94;
}

// #header div.nav-wrap {
//   text-align: center;
//   box-sizing: border-box;
//   background-color: white;
//   // width: 100%;
//   display: block;
//   border: 1px solid darkblue;
//   padding:0;
//   margin:0;
  
//   // min-height: 70px;
//   // height: 60px;
//   // background-size: cover;
//   // height: 450px;
//   // background-color: #E4EE95;
//   // background: url('../../images/Frame\ 2.png');  
// }

#layout {
  margin: 0;
  padding: 0;
  font-family: 'opensans-normal', sans-serif  ;
  width: 100%;
  // background-color: #FBFBFB;
  // background-color: #D7DFC4;
  background: #E2EBCE;
  font-size: 19px;
  font-size: 1.09rem;
  line-height: 26px;
}

#content {
  margin: auto;
  width: 100%;
  height: auto;
}

#footer {
  margin: 0 auto;
  width: 100%;
  background: #3C4529;
  color: #fff;
  height: auto;
  // background: #114025;
}

#footer .flex-column {
  width: auto;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
}

#footer .flex-column.footer-row {
  margin: 0 auto;
  height:auto;
  width: 1366px;
}

#footer .footer-col {
  // border: $border1;
  padding: 5px;
}

#footer .footer-title {
  color: #A0AB87;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 33px;
}

#footer .footer-title.contact {
  margin-left: 2.3em;
}

#footer .footer-title.link {
  margin-left: 7px;
  // list-style: none;
}

#footer .footer-title.contact-info {
  margin-left: 2px;
}

#contact {
  // border: 1px solid firebrick;
}
#site-links {
  // border: 1px solid firebrick;
}
#contact-info {
  // border: 1px solid firebrick;
}

#copyright-wrap {
  margin: 0; 
  width: auto;
  height: 6em;
  background-color: #2C331E;
}

#copyright-wrap .copyright-column {
  @include flex-column;
}