@import '~antd/dist/antd.css';


$color-1: #FFFFFF;
$color-2: #E4EE95;
$content-radius: 2px;
$button-color: green;
$border1: 1px solid green;
$border2: 2px solid green;
$border3: 3px solid green;
$border4: 1px solid greenyellow;
$border5: 2px solid greenyellow;
$border6: 3px solid greenyellow;




#App {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: #FFFFFF;
}

p, ul, li, h1, h2, h3, h4 {
    margin: 0;
}

#header {
  margin: auto;
  width: 70%;
  background-color: #FFFFFF;
  border: 1px solid black;
  width: 80%;
  height: auto;
}

#hero {
  margin: auto;
  border: 1px solid green;
  width: auto;
  height: 375px;
}
  
#header .nav-wrap {
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  width: auto;
  display: block;
  // min-height: 70px;
  // height: 60px;
  // background-size: cover;
  // height: 450px;
  // background-color: #E4EE95;
  // background: url('../../images/Frame\ 2.png');  
}

#layout {
  width: 100%;
  // border: 1px solid gold;
}

@mixin content-block {
  position: relative;
  padding: 5px;
  border: 1px solid darkorchid;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#content {
  margin: auto;
  width: 80%; 
  border: 1px solid fuchsia;
}

section.wrapper {
  background-color: inherit;
  width: 100%;
}

.nav-wrapper {
  height: 296px;
  border: 1px solid green;
}

#footer {
  margin: 0 auto;
  // padding: 0;
  // padding: 24px 50px;
  width: 80%;
  border: 1px solid yellowgreen;
}

#footer .flex-column {
  width: auto;
  border: 1px solid yellowgreen;
  margin: 0;
  @include flex-row;
  justify-content: space-between;
  align-items: flex-start;
}

#contact {
  border: 1px solid firebrick;
}
#site-links {
  border: 1px solid firebrick;
}
#contact-info {
  border: 1px solid firebrick;
}