@import './App.scss';

@media only screen and (min-width : 320px) and (max-width : 480px) {
     /* TabBar */
    #menu.flex-row {
      width: auto;
      max-width: 480px;
      font-size: 11px;
    }
    
    #menu .nav-icon {
      // max-width: 97px;
      // max-height: 104px;
    }
    
    #menu .nav-icon-img {
    }
    
    #menu .nav-col {
      justify-content: space-between;
      flex-wrap: wrap;
      // margin-right: 30px;

    }
    
    #menu .nav-col .menu-bar {
      font-size: 11px;
      background-color: inherit;
      padding: 5px 10px 5px 10px;
      border-bottom: none;
      width: auto;
      max-width: 300px;
    }

  /* Diseases */
  #diseases .disease-row {
    display: block;
  }
  
  #cure-wrap {
    margin: auto;
    display: block;
    max-width: 480px;
  }
  
  .cure-image {
    margin-left: 50%;
    margin-right: 50%;
  }
  
  .cure-info {
    margin-left: 50%;
    margin-right: 50%;
  }

  .btn-wrap.cure-btn {
    margin-left: 25px;
  }

  #contact-form.sidebar {
    border-left: none;
    
    .form-title {
      text-align: center;
    }

    /* Contact */
    #contact-form {
      
      .form-input {
      }
          
      .input-field {
        max-width: 300px;
      }
    }

  }
  
  

  /* Treatments */
  #treatment {
  }
  
  #treatments .flex-column {
    width: 100%;
    max-width: 480px;
    display: block;
  }

  #treatments .flex-column .card-style {
    margin-left: 50%;
    margin-right: 50%;
  }
    
  #treatments .treatment-images {
  }   
  
  /* Footer */
  #footer  .footer-row {
    display: block;
    // text-align: center;
    
    .footer-col .footer-title {
      text-align: center;
    }
  }

  /* Site Link */
  #site-link {
    margin-left: 20px;
    // background-color: red;      
  }
  
  #contact-info {
    margin-left: 12px;
  }
}

  
@media only screen and (max-width: 360px) {

  /* Treatments */
  #treatments .flex-column .card-style {
    margin: 4px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  /* TabBar */
  #menu.flex-row {
    width: auto;
    max-width: 767px;
    font-size: 11px;
  }
  
  #menu .nav-icon {
    max-width: 97px;
    max-height: 104px;
  }

  #menu .nav-icon-img {
  }

  #menu .nav-col {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 30px;
  }
  
  #menu .nav-col .menu-bar {
    font-size: 11px;
    background-color: inherit;
    padding: 5px 10px 5px 10px;
    border-bottom: none;
    width: 80%;
    max-width: 767px;
    margin-left: 9em;
  }
  
  /* Treatments */
  #treatments .flex-column {
    width: 100%;
    max-width: 767px;
    display: block;
  }
  
  #treatments .flex-column .card-style {
    margin-left: 50%;
    margin-right: 50%;
    width: 200px;
    height: 552px;
  }

    /* Diseases */
    #diseases .disease-row {
      display: block;
    }
    
    #cure-wrap {
      margin: auto;
      display: block;
      max-width: 767px;
    }
    
    .cure-image {
      margin-left: 50%;
      margin-right: 50%;
    }
    
    .cure-info {
      margin-left: 50%;
      margin-right: 50%;
    }
  
    .btn-wrap.cure-btn {
      margin-left: 25px;
    }

    #contact-form.sidebar {
      border-left: none;
    }
    
    .form-title {
      text-align: center;
    }
    
  

   /* Footer */
   #footer  .footer-row {
    display: block;
    
    .footer-col .footer-title {
      text-align: center;
    }
  }

  /* Contact */
  #contact-form {
      
    .form-input {
    }
        
    .input-field {
      width: 92%;
    }
  }

   /* Site Link */
   #site-link {
    margin-left: 38px;
  }
  
  #contact-info {
    margin-left: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  /* TabBar */
  #menu.flex-row {
    width: auto;
    max-width: 992px;
  }
  
  #menu .nav-col {
    flex-wrap: wrap;
    margin-left: 30px;
  }
  
  #menu .menu-bar {
    margin-left: 120px;
  }
  
  /* Treatments */
  #treatments .flex-column {
    width: 991px;
    max-width: 992px;
    display: block;
  }
  
  #treatments .flex-column .card-style {
    margin-left: 50%;
    margin-right: 50%;
  }

  #treatments .card-style.sc {
    margin-left: 250px;
  }
  
  #treatments .card-style.asthma {
    margin-left: 250px;
  }

  #treatments .card-style.asd {
    margin-left: 250px;
  }

  #treatments .card-style.lsc {
    margin-left: 250px;
  }

  #treatments .card-style.parkinsons {
    margin-left: 250px;
  }

  #treatments .card-style.lsc {
    margin-left: 250px;
  }

  #treatments .card-style.diabetics {
    margin-left: 250px;
  }

  #contact-form.sidebar {
    border-left: none;
  }
  
  .form-title {
    text-align: center;
  }
  
 
}

@media only screen and (min-width : 800px) and (max-width : 1024px) {
  /* Diseases */
  #diseases .disease-row {
  }
  
  #cure-wrap {
    // display: block;
  }
  
  .cure-image {

  }
  
  .cure-info {
  }
  
  .btn-wrap.cure-btn {
  }
  

  /*  Treatments */
  #treatments .flex-column {
    display: block;
  }

  #treatments .flex-column .card-style {
    margin-left: 50%;
    margin-right: 50%;
  }

    #treatments .card-style.sc {
      margin-left: 330px;
    }
    
    #treatments .card-style.asthma {
      margin-left: 330px;
    }

    #treatments .card-style.asd {
      margin-left: 330px;
    }

    #treatments .card-style.lsc {
      margin-left: 330px;
    }

    #treatments .card-style.parkinsons {
      margin-left: 330px;
    }
    #treatments .card-style.lsc {
      margin-left: 330px;
    }

    #treatments .card-style.diabetics {
      margin-left: 330px;
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
  /*  Treatments */
  #treatments .flex-column {
  }

  #treatments .flex-column .card-style {
  }
}
