@import  "../app/App.scss";

#about {
  margin: auto;
  padding: 70px, 20px;
  line-height: 28px;
  width: auto;
  background-color: #D7DFC4;
  text-align: justify;
}

#about .content-column {
  margin: auto;
  font-weight: 400;
  // font-size: 22px;
  line-height: 30px;
  align-self: baseline;
  padding: 1.6em 2em;
  align-items: center;
  background-color: inherit;
  clear: both;
}

#about .content-article {
  @include flex-column;
  margin: auto;
  margin-top: 20px;
  height: auto;
}

#content-column article {
  width: auto;
  margin: 0;
}

.content-column h1 {
  color: #391A45;
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  padding: 1em;
  max-width: 650px;
  margin-left: 5px;
  // border: $border-a;
}

#content-column h1::before {
  background: #648879;
  border-radius: 0 5px 5px 0;
  bottom: -1.5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}

.content-article p {
  padding: 2em;
  max-width: 1200px;
  text-align: justify;
  // padding: 5px;
}



#content-column .button {
  background-color: $button-color-primary;
  color: #fff;
  border: 1px solid $button-color-primary;
  align-self: center;
  flex-grow: .1;
}
