@import  "../app/App.scss";

#header {
  display: inline-block;
  background-color: #FFFFFF;
  margin: auto;
  padding: 0;
  width:100%;
}

#hero {
  position: relative;
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
