@import  "../app/App.scss";

/* Contact Form*/

#contact-form {
  padding: 0 .5em;
  padding-top: 1.1em;
}


#contact-form .form-input {
  margin-bottom: 5px;
}

#contact-form .btn-submit {
  background-color: $button-color-secondary;
  border: #777871;
  float: left;
  margin-right: 40px;
}

/* 
Site Links
*/

#site-link ul {
  list-style: none;
  margin-left: 20px;
}

#site-link p {
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* 
Contact Information
*/

#contact-info .contact-row {
  padding: 2px;
  margin: 0px;
  // margin-bottom: px;
}

#contact-info .contact-row .icon-col {
  margin: 0px;
  height: auto;
}

#contact-info div.flex-column {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 4px;
  // border: $border4;
}

#contact-info .flex-column img {
  margin: 0px;
}

/* 
Copyrights
*/

#copyrights {
  margin: 0;
  padding: 1 1.5em;
}

#copyrights h2 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  // border: $border1;
}

.copyrights-text {
  color: #fff;
}

#copyrights span.company {
  color: #BCD97E;
}