
@import '../app/App.scss';

#treatments {
  padding: 70px, 20px;
  line-height: 20px;
  padding-top: 55px;
  padding-bottom: 66px;
  background-color: #F0FFDE;
  font-size: 19px;
  // background-color: #F0FFDE;
  // background-color: #A4B88D;
}

#treatments .title-block {
  margin-bottom: 30px;
  text-align: center;
  color: #643D6B
  // border: 1px solid salmon;
}

#column-content {
  @include content-block;
  // width: auto;
  // margin: 0;
}

.image-block {
  border: 1px solid salmon;
}

.column-paragraph {
  border: 1px solid green;
}

.flex-column {
  @include flex-column;
  margin: auto;
  width: 80%;
}

.flex-column .btn {
  margin-top: 20px;
}

#treatments .card-style {
  font-size: 18px;
  text-align: left;
  max-height: 120vh;
  margin-top: 10px;
  margin-bottom: 50px;
  min-height: 40vh;
  height: 70vh;
  border-top: 3px solid green;
  border-radius: 5px;
  // color: #648879;
  // background-color: 
  // border-right: 1px solid grey;
  // text-align: center;
}

#treatments h2 {
}