@import '../app/App.scss';

#treatments {
  padding: 70px, 20px;
  line-height: 20px;
  padding-top: 55px;
  font-size: 19px;
  background-color: #E2EBCE;
  // width: auto;
}

#treatments .title-block {
  margin-bottom: 30px;
  text-align: center;
  color: #391A45;
  font-size: 36px;
  font-weight: 600px;  
}

#column-content {
  @include content-block;
}

.image-block {
}

.column-paragraph {
}

#treatments .flex-column {
  @include flex-row;
  margin: auto;
  width: 1200px;
  // width: 100%;
}

.flex-column .btn {
  margin-top: 20px;
}

#treatments .card-style {
  font-size: 18px;
  text-align: left;
  max-height: 120vh;
  margin-top: 25px;
  margin-bottom: 4em;
  height: 552px;
  min-height: 40vh;
  border-radius: 5px;
  background-color: #D0DEAD;
  color: #333;
  max-width: 350px;
}

#treatments .card-style.sc {
}

#treatments h2 {
  padding: .1em .2em;
  font-weight: 600;
}
